.banner {
  color: white;
  padding: 120px 0;
  background-size: cover;
  background-position: 100% 40%;
}

.banner h1 {
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 0;
}

.banner p {
  font-size: 24px;
  text-shadow: 2px 2px 2px black;
  margin: 0 0 50px 0;
}
